.breadcumb-area{
    padding: 150px 0 50px;
    @include min-xs{
        padding: 50px 0 30px;
    }
    h4{
        text-transform: capitalize;
        font-size: 40px;
        color: $white;
    }
    ul{
            display: flex;
            margin-top: 15px;
            li{
                color: $white;
                text-transform: capitalize;
                margin-right: 10px;
                a{
                    color: $white;
                    transition: 0.3s;
                    &:hover{
                        color: $primary_color;
                    }
                }
            }
        }
}